<section class="registerBox">
<div>
  <h1>Rejestracja</h1>
      <tr>
        <div>Login:</div>
        <input type="text" [(ngModel)]="registrationAccount.Login" id="login"/>
      </tr>
      <tr>
        <div>Password:</div>
        <input type="password" [(ngModel)]="registrationAccount.Password" id="password"/>
      </tr>
      <tr>
        <div>Password Confirmed:</div>
        <input type="password" [(ngModel)]="registrationAccount.PasswordConfirmed" id="passwordConfirmed"/>
      </tr>
      <tr>
        <div>Imie:</div>
        <input type="text" [(ngModel)]="registrationAccount.User.Name">
      </tr>
      <tr>
        <div>Wiek:</div>
        <input type="number" [(ngModel)]="registrationAccount.User.Age">
      </tr>
      <tr>
        <div>Waga:</div>
        <input type="number" [(ngModel)]="registrationAccount.User.Weight">
      </tr>
      <tr>
        <div>Wzrost:</div>
        <input type="number" [(ngModel)]="registrationAccount.User.Height">
      </tr>
      <tr>
        <div>Płeć:</div>
        <input type="text" [(ngModel)]="registrationAccount.User.Gender">
      </tr>
      <tr>
          <button class="registerButton" (click)="Registration()" type="submit">Zarejestruj się</button>
          <button class="backButton">Powrót</button>
      </tr>
  </div>
</section>
