<h2 [ngClass]="'title'">Edit: </h2>
<table>
  <tr>
    <th>Imie:</th>
    <td><input [(ngModel)]="user.Name"></td>
  </tr>
  <tr>
    <th>Wiek:</th>
    <td><input [(ngModel)]="user.Age"></td>
  </tr>
  <tr>
    <th>Waga:</th>
    <td><input [(ngModel)]="user.Weight"></td>
  </tr>
  <tr>
    <th>Wzrost:</th>
    <td><input [(ngModel)]="user.Height"></td>
  </tr>
  <tr>
    <th>Płeć:</th>
    <td><input [(ngModel)]="user.Gender"></td>
  </tr>
  <tr>
    <button (click)="save()">Save</button>
  </tr>
</table>

