<body>
    <!--<h1>Witaj w aplikacji która pomoże Ci zadbać o Twoją formę fizyczną i usystematyzować twój trening.</h1>
    <section style="display:flex;">
        <button class="logginButton" style="background-color: #2ecc71;" type="submit">Zaloguj się</button>
        <button class="registerButton" style="background-color: #2ecc71;" type="submit">Zarejestruj się</button>
    </section> -->
    <app-users></app-users>
</body>


  <!--<app-log-in></app-log-in>
    <app-registration></app-registration>
  <print-user></print-user>
  <app-users></app-users> -->
