 <nav>
  <h1 style="text-indent:50%;">
    Plan Treningowy
  </h1>
  <!--<section style="display: flex">
    <button
      class="logginButton"
      style="background-color: #2ecc71"
      type="submit"
      routerLink="/log-in"
    >
      Zaloguj się
    </button>
    <button
      class="registerButton"
      style="background-color: #2ecc71"
      type="submit"
      routerLink="/registration"
    >
      Zarejestruj się
    </button>
  </section>
</nav> -->

<!-- <app-log-in></app-log-in> -->
<!--<app-registration></app-registration> -->
  <!-- <app-users></app-users> -->
<router-outlet></router-outlet>
