<section class="loginBox">
  <div>
    <h1>Logowanie</h1>
    <tr>
      <div>Login:</div>
      <input type="text" [(ngModel)]="loginAccount.Login" id="login" />
    </tr>
    <tr>
      <div>Password:</div>
      <input
        type="password"
        [(ngModel)]="loginAccount.Password"
        id="password"
      />
    </tr>
    <tr *ngIf="isWrongData">
      <div>Niewłaściwy login lub hasło</div>
    </tr>
    <tr>
      <button
        class="logginButton"
        (click)="LogIn()"

        type="submit"
      >
        Zaloguj się
      </button>
      <button class="registerButton" routerLink="/registration">
        Zarejestruj się
      </button>
      <h6 style="color: white">Nie masz jeszcze konta? Zarejestruj się!</h6>
    </tr>
  </div>
</section>
<li *ngFor="let item of loginAccounts">
  {{item.Index_nr}}  {{item.Login}}  {{item.Password}}
</li>
<li *ngFor="let item of users">
  {{item.Index_nr}}  {{item.Name}}  {{item.Age}}
</li>
