<h1 style="text-indent: 49%;"> Oto twój plan tygodnia </h1>
<section class="kalendarz">
  <button class="nextButton" style="margin-top:176px" type="submit">Poprzedni tydzień</button>
  <ul *ngFor="let day of week">
    <section class="dayBox">
      <div>{{day.Name}}</div>
      <section class="cwiczenieBox">
        <span *ngFor="let DayWorkouts of schedule.ListOfDayWorkouts">
           <span *ngIf="DayWorkouts.date==day.Date">
              <div *ngFor="let workout of DayWorkouts.workouts">
                  <app-workout style="color:black;font-weight: 900;" [workout]="workout"></app-workout>
              </div>
          </span>
        </span>
      </section>
      <button class="dayButton" type="submit" (click)="doEdit(day)">Edytuj</button>
      <div *ngIf="isEdit&&currentDay==day">
        <select  name="workoutChoose" (change)="workoutChoose($event)" id="work" >
          <option>--wybierz--</option>
          <option [value]="workout" *ngFor="let workout of workouts">{{workout.Name}}</option>
        </select>
      </div>
    </section>
  </ul>
  <section class="przyciski">
    <button class="nextButton" style="margin-right: 20px; margin-left: 20px;" type="submit">Następny tydzień</button> <br>
    <button class="nextButton" style="margin-right: 20px; margin-left: 20px;" type="submit">Następny tydzień(+)</button> <br>
    <button class="nextButton" style="margin-right: 20px; margin-left: 20px;" type="submit">Następny tydzień(-)</button>
  </section>
  </section>

<!--<section class="kalendarz">
  <section class="dayBox">
    <div>Poniedziałek</div>
    <ul>
      <li>Klata</li> <div> 5 seri 5 powtórzeń </div>
      <li>Triceps</li> <div> 5 seri 5 powtórzeń </div>
    </ul>
  </section>
  <section class="dayBox">
    <div>Wtorek</div>
    <ul>
      <li>Wydalnościowe</li>
      <li>Nogi</li>
    </ul>
  </section>
  <section class="dayBox">
    <div>Środa</div>
    <ul>
      <li>Wudeczka</li>
      <li>Ciperki</li>
      <li>Może batonik</li>
    </ul>
  </section>
  <section class="dayBox">
    <div>Czwartek</div>
    <ul>
      <li>Plecy</li>
      <li>Biceps</li>
      <li>Przedramie</li>
    </ul>
  </section>
  <section class="dayBox">
    <div>Piątek</div>
    <ul>
      <li>Bareczki</li>
      <li>Poprawiasz klateczke</li>
      <li>Czasem nogi</li>
    </ul>
  </section>
</section>-->
